html {
  display: contents;
  align-items: center;
  max-height: 800px;
}

body {
  margin: 0;
  background-image: url("../images/Fondo\ Star\ Wars.png");
  background-size: cover;
  background-position: center;
}
div {
position: relative;
}

#start-btn {
  background-image: url("../images/START.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 240px 45px;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  width: 290px; a
  height: 50px;
  border: 3px solid white;
}

#restart-btn {
  background-image: url("../images/RESTART.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 316px 45px;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  width: 366px;
  height: 50px;
  border: 3px solid white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-image: url("../images/Fondo\ Star\ Wars.png");
  background-position: center;
  background-size: cover;
  width: 500px;;
  height: 750px;;
  overflow: hidden;
  position: relative;
  user-select: none;
  border: 5px solid white;
  z-index: 1;
  margin-top: -75px;
}

#game-screen, #gameover-screen {
  display: none;
}

img {
  margin-bottom: 100px;
}

#logo-gameover {
  margin-bottom: 88px;
}

#cuadro-de-mandos {
z-index: 2;
top: -60px;
position: relative;
width: 600px;
border-radius: 25%;
}
#vidas {
  display: inline-block;
  vertical-align: middle;
}
#han-solo {
  z-index: 3;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  top: -320px;
  left: -190px;
}
#text-vidas {
  color: white;
  z-index: 2;
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 25%;
  top: -480px;
  left: -140px;
}

#text-score {
  color: white;
  z-index: 2;
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 25%;
  top: -625px;
  left: 185px;
}

#btn-musica-fondo {
  background-image: url("../images/sonido-on.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -573px;
  left: 60px;
  position: relative;
}
#btn-musica-fondo.activo {
  background-image: url("../images/sonido-off.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -573px;
  left: 60px;
  position: relative;
}

#btn-efectos {
  background-image: url("../images/efectos-on.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -573px;
  left: -70px;
  position: relative;
}
#btn-efectos.activo {
  background-image: url("../images/efectos-off.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -573px;
  left: -70px;
  position: relative;
}

#score-gameover {
  color: white;
  position: relative;
  top: -262px;
  left: 389px;
  font-size: 100px;
}

#contenedor-score-gameover {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

#logo-score {
  position: relative;
  width: 360px;
  height: 70px;
  top: 0;
  left: -219px;
}

#wasd-space {
  margin-bottom: 150px;
}