html {
  display: contents;
  align-items: center;
  max-height: 800px;
}

body {
  margin: 0;
  background-image: url("../images/Fondo\ Star\ Wars.png");
  background-size: cover;
  background-position: center;
}
div {
position: relative;
}

#start-btn {
  background-image: url("../images/START.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 240px 45px;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  width: 290px;
  height: 50px;
  border: 3px solid white;
}

#restart-btn {
  background-image: url("../images/RESTART.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 316px 45px;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  width: 366px;
  height: 50px;
  border: 3px solid white;
  position: relative;
}

#continue-btn {
  background-image: url("../images/CONTINUE.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 600px 209px;
  background-position: center;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
  height: 209px;
  border: 3px solid white;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-image: url("../images/Fondo\ Star\ Wars.png");
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 1120px;
  overflow: hidden;
  position: relative;
  user-select: none;
  border: 5px solid white;
  z-index: 1;
  margin-top: -75px;
}

#game-screen, #gameover-screen, #transition-screen {
  display: none;
}

img {
  margin-bottom: 100px;
}

#logo-gameover {
  margin-bottom: 88px;
}

#cuadro-de-mandos {
z-index: 2;
top: -150px;
position: relative;
width: 900px;
border-radius: 25%;
}
#vidas {
  display: inline-block;
  vertical-align: middle;
}
#han-solo {
  z-index: 3;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 25%;
  top: -490px;
  left: -290px;
}
#text-vidas {
  color: white;
  z-index: 2;
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 25%;
  top: -685px;
  left: -170px;
  font-size: 50px;
}

#text-score {
  color: white;
  z-index: 2;
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 25%;
  top: -825px;
  left: 305px;
}

#btn-musica-fondo {
  background-image: url("../images/sonido-on.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -790px;
  left: 135px;
  position: relative;
}
#btn-musica-fondo.activo {
  background-image: url("../images/sonido-off.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -790px;
  left: 135px;
  position: relative;
}

#btn-efectos {
  background-image: url("../images/efectos-on.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -790px;
  left: -6px;
  position: relative;
}
#btn-efectos.activo {
  background-image: url("../images/efectos-off.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -790px;
  left: -6px;
  position: relative;
}

#btn-pause {
  background-image: url("../images/btn-play.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -790px;
  left: -150px;
  position: relative;
}
#btn-pause.activo {
  background-image: url("../images/btn-pause.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50px 50px;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  z-index: 3;
  top: -790px;
  left: -150px;
  position: relative;
}

#score-gameover {
  color: white;
  position: relative;
  top: -262px;
  left: 389px;
  font-size: 100px;
}

#contenedor-score-gameover {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

#logo-score {
  position: relative;
  width: 360px;
  height: 70px;
  top: 0;
  left: -219px;
}

#wasd-space {
  margin-bottom: 150px;
}

#explosion-normal {
  display: none;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;
}

#transition-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 1280px;
}

#transition-text {
  width: 600px;
  height: 59px;
}

#boss-image {
  width: 600px;
  height: 419px;
}

#video-final {
  border: 3px solid white;
  background-image: url("../images/Fondo\ Star\ Wars.png");
  object-fit: contain;
  border: none;
  outline: none;
  width: 1125px;
  height: 481px;
  border-left: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  outline: none;
}

